[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hrqglas"]
	path = hrqglas
	url = https://github.com/shaobo-li/hrqglas
[submodule "MTE"]
	path = MTE
	url = https://github.com/shaobo-li/mte
